*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

#hpbody {
    /*background-color: rgb(230, 243, 244);*/
    background-color:rgb(230, 243, 244) ;
    background-image: url(images/Hooome.jpg) ;
    background-repeat: no-repeat ;
    background-size: 100% 100% ;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;

}
.box {
    background-color: white;
    margin: 20px 220px;
    height:30px;
    display: flex;
    border-radius: 25px;
    align-items: center;
    box-shadow: 0 3px 8px #063674;

}
.box input {
    
    outline: none;
    border: none;
    background: transparent;
    padding-left: 10px;
    font-size: 18px;
}



/*#welcome-vid video{
    
    display:block;
    width:98vw;
    height:50vh;
    
}*/

.mainnav ul{
    height:40px;
    display: flex;
    list-style-type: none;
    border:  7px double black ;
    border-radius: 8px;
    margin: 20px 65px;
    background-color: white;
    
}

.mainnav li{
    padding: 5px 10px;
    
    
}

.mainnav a {
    text-decoration: none;
    color: #063674 ;
    font-size: 23px;
    font-family: sans-serif;
}

.mainnav a:hover{
    color: #CF111B;
    font-weight: 650;
    
}

#border{
    display: block;
    align-items: center;
    margin: 0 40px 20px ;
    border-radius: 7px ;
    background-color: rgba(255,255,255,0.92);
}



.product-container{
    display: grid;
    gap: 25px;
    grid-template-columns: auto auto auto;
    margin: 0 0 100px;
    
}


.product-container > div{
    /* background-color: rgb(186, 186, 234); */
    background-color: rgb(67, 84, 94,0.85);
    width: 300px;
    height: 250px;
    border:  inset 6px transparent;
    border-radius: 20px;
    margin: 70px 70px;
    box-shadow: 0 3px 3px #063674;
    
    
}

#montitle {
    text-align: center;
    color: #CF111B;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product img {
    width:100%;
    height: 200px;
    margin-top:12px ;
    border:2px transparent;
    border-radius: 3px;
    
}


.product:hover {
    
    border: 3px solid #063674;
    
}

.product-cap{
    font-size: 25px;
    text-align: center;
    color: #063674;
    font-weight: 500;
    font-family:sans-serif;
}

.product-cap:hover {
    color: white;
    font-weight: 500 ;
    transform: rotateY(360deg);
    transition-duration: 0.8s;
}

.hide_l{
    display: none;
    padding: 30px 30px 10px;
    font-family:sans-serif ;
    font-size: medium;
}

.hide_l li {
    padding-top: 3px;
}

.b_sl{
    display: inline;
    border:none; 
    width: fit-content;
    height: fit-content;
    padding: 3px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px;
    background-color:rgb(67, 84, 94,0.85) ;
    font-size: 16px;
    color:white ;
    
}

.b_sl:hover{
    color: #CF111B;
}

.b_hl{
    display: none;
    border:none; 
    width: fit-content;
    height: fit-content;
    padding: 3px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px;
    background-color:rgb(67, 84, 94,0.85) ;
    font-size: 16px;
    color:white ;
    
}

.b_hl:hover{
    color: #CF111B;
}


#hpft {
    background-color: rgba(0,0,0,0.5);
    height: 150px;
    margin: 0 40px;
    
}

#ftparent {
    display: flex;
    flex-flow: row wrap ;
    justify-content:space-between;
    align-items: center;
    
}

.ftchild {
    margin: 5px 40px 0 40px;


}

.ftchild:nth-child(2) {
    margin-left: 0px;
    margin-top: 20px;
}

.ftchild h3{
    color: #CF111B;
    letter-spacing: 0.3px;
    font-family: sans-serif;
    font-size: 18px;
}

#hfticon{
    padding-top: 10px;
}



.ftchild a{
    text-decoration: none;
    color: white;
    padding-left: 12px;
    padding-top: 2px;
    font-size: 16px;
}

.ftchild a:hover{
    text-decoration: underline;
}


.ftchild ul {
    list-style-type: none;

}

.ftchild li{
    padding-top: 3px;
}

.fa-brands {
    margin-top: 5px;
    padding-left: 5px;
    font-size: larger;

}

.fa-facebook {
    color: rgba(1, 101, 225);
    
}

.fa-instagram {
    color: rgb(131, 58, 180);
}

.fa-twitter {
    color:rgb(29, 161, 242) ;
}


#monitorsbody {
    background-image: url(images/m_bg.jpg) ;
    background-repeat: no-repeat ;
    background-size: 100% 100% ;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;

}



.mon1_nav{
    margin: 30px 200px;
}

.mon1_nav ul{
    height:40px;
    width: fit-content;
    display: flex;
    list-style-type: none;
    border:  7px inset black ;
    box-shadow: 5px 8px  rgba(0, 0, 0, 0.342);
    border-radius: 8px;
    margin: 20px 65px;
    background-color: white;
    
}

.mon1_nav li{
    padding: 5px 10px ; 
    
}

.mon1_nav li:hover{
    background-color: rgba(144, 47, 225,0.45);
    
}

.mon1_nav a {
    text-decoration: none;
    color:#020308 ;
    font-size: 23px;
    font-family: cursive;
}

.mon1_nav a:hover{
    font-weight: 650;
    
}





/* #option button {
    display: inline;
    border:3px solid black ;
    border-radius: 9px;
    font-family: fantasy;
    letter-spacing:0.7px;
    background: white;
    padding: 7px;
    width: fit-content;
    font-size: 20px;
}*/

#contain-page{
    width: 100%;
    overflow:auto;
}

#detail_t_cont{
    float:left;
    width: 15%;
    height: 100vh;
    background-color: rgba(240, 248, 255, 0.5);
    margin: 25px 40px ;
    border: 10px solid transparent;
    border-radius: 15px;
    box-shadow: 3px 2px #0A0A7A;
}

#detail_t_cont h2{
    text-align: center;
    text-shadow: 1px 1px #000;
}

#detail_t_cont > table >caption {
    padding: 10px 70px  ;
    color:purple;
    font-weight: 600;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#detail_t_cont th,td  {
    padding-top: 6px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: sans-serif;
    border:2px solid purple;
    border-radius: 5px;
}

#detail_t_cont td{
    padding-left: 4px;
    color: black;
    font-weight: 560;
    
}

#detail_t_cont th{
    color: brown;
}

#dis-l{
    margin: 20px;

}

#dis-l dt{
    color: brown;
    font-size: 20px;
    font-weight: 600;
}

#dis-l dd {
    color:black;
    font-size: 18px;
    margin-left: 12px;
}

h3.m1-price{
    text-align: center;
    font-size: 23px;
    color: black;
}

p.m1-price{
    text-align: center;
    margin-left: 25px;
    font-size: 19px;
    color: brown;
    font-weight: 700;
}

.buttons {
    border:3px solid black ;
    border-radius: 9px;
    font-family: fantasy;
    letter-spacing:0.7px;
    background: white;
    padding: 7px;
    width: fit-content;
    font-size: 20px;
    box-shadow: 2px 2px #ec00e849 ;
}

#buynow {
    margin-left: 70px;
    
    
}

#buynow:hover {
    transform: rotateZ(360deg);
    transition-duration: 1.8s;
}

#buynownote {
    color: brown;
    font-weight:600 ;
    font-size: 18px;
    padding-left: 40px;
}


#moncart {
    margin-top: 10px;
    margin-left: 15px;
    width: 180px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

#cart{
    color: rgb(248, 37, 37);
    font-size: 25px;
}



#hvid {
    margin: 10px 170px;
}



#svid {
    display: block;
}

#hvid {
    display: none;
}

#page-det{
    float:left;
    height: 100vh;
    margin-top: 25px;
    background-color: rgba(240, 248, 255, 0.5);
    border: 10px solid transparent;
    border-radius: 13px;
    width: 70%;
    
}

#page-det figure {
    display: inline-block;
    width: 45%;
    
}
#page-det figure img{
    margin-left:100px;
}

#iframe{
    display: none;
    height: 300px;
    width: 400px;
    margin: 30px 50px ;

}

#frameblock{
    display: inline;
    float: left;
}

#frameblock #svid {
    margin: 200px 170px;
    
}


#audiomon{
    float: left;
    margin: 180px 50px ;
    border: 6px black solid;
    border-radius: 30px;
}

#audiomon::-webkit-media-controls-play-button,
#audiomon::-webkit-media-controls-panel {
background-color: rgb(232, 184, 232);

}

#monitordet{
    height: 60vh;
    background-color: rgba(240, 248, 255, 0.9);
    color: black;
    font-size: larger;
    font-family: cursive;
    width: 95vw;
    align-self: center;
    border: 2px solid brown;
    border-radius: 20px;
    padding: 8px;
    margin-bottom: 10px;

}

#monform{
    margin-left: 100px;
    margin-top: 10px;
    font-size: 23px;
    color: purple;
    text-decoration:underline;
}

#monform textarea {
    margin-top: 10px;
    
    font-size: 16px;
}

#monform button {
    height: fit-content;
    width: fit-content;
    padding: 3px;
    color: black;
    background-color: white;
    font-size: 18px;
    border: 2px solid black;
    box-shadow: 2px 2px purple;
    border-radius: 5px;
}
  .ssall{
    margin: 0;
    background-image: url('https://www.thetechwire.com/wp-content/uploads/2022/02/Computer-memory-RAM-on-motherboard-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 8%;
    overflow: scroll;
}
#samasamy1{
    margin: 0;
    padding: 0;
    font-family: "Trirong", serif;
}
#ssnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 8%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;

}
#ssl a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 2px;
    padding: 16px;
}
.ssh{
    background-color: #9b5ec4;
    color: white;
    border-radius: 2px;
    padding: 16px;
}
.ssh:hover{
    background-color: #9da3f5;
    color: rgb(12, 12, 12);
    border-radius: 2px;
    padding: 16px;
}
.ssn:hover{
    background-color: black;
    color: #9b5ec4;
    border-radius: 2px;
    padding: 16px;
}
.simg{
    float: left;
    width: 30%;
    background-color: rgba(203, 195, 248, 0.555);
    border-radius: 12px;
    margin-left: 5%;
    margin-top: 1%;
}

#sp{
    text-align: left;
    margin-left: 30px;
}
#shh{
    text-align: center;
    text-shadow: 2px 2px 5px blueviolet;
}
.ssbord{
    border: 1px solid blueviolet;
    width: 50%;
    background-color: rgba(203, 195, 248, 0.555);
    margin-left: 40%;
    padding: 12px;
    text-transform: capitalize;
    font-size: 16px;
    border-radius: 12px;
    padding-left: 20px;
}
#sinf{
    border-collapse: collapse;
    width: 50%;
    padding-top: 80%;
    margin-left: 30px;
}
#sinf th,#sinf td{
    border-bottom: 1px solid rgb(46, 46, 100);
    text-align: left;
    
}
.sbut{
    text-align: center;
    margin-top: 7%;
    display: inline-block;
    padding: 40px 60px ;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(46, 46, 100);
    border: none;
    border-radius: 14px;
    margin-left: 70%;
}
.sbut:hover{
    background-color: #9da3f5;
    color: #000;
}
.smar{
    border: 1px solid blueviolet;
    width: 50%;
    background-color: rgba(203, 195, 248, 0.555);
    margin-left: 40%;
    padding: 12px;
    text-transform: capitalize;
    font-size: 16px;
    border-radius: 12px;
    padding-left: 20px;
    margin-top: 2%;
}
.simg2{
    float: left;
    width: 30%;
    background-color: rgba(203, 195, 248, 0.555);
    border-radius: 12px;
    margin-left: 5%;
}
#ssh3{
    border: 1px solid;
    padding: 2px;
    border-radius: 6px;
    background-color: rgb(46, 46, 100);
    color: white;
}
#sh2{
    text-align: center;
    text-shadow: 2px 2px 5px blueviolet;
}
.sma{
    float: left;
    width: 30%;
    background-color: rgba(203, 195, 248, 0.555);
    border-radius: 12px;
    margin-left: 5%;
    margin-top: -40%;
    padding: 25px;
}
#sinf2{
    border-collapse: collapse;
    width: max;
    height: max;
     color: black;
     padding-left: 6px;
}
#sinf2 th,#sinf2 td{
    padding: 14px;
    text-align: center;
}
#sinf2 tr:nth-child(even){
    background-color: rgb(46, 46, 100);
    color: white;
}
#ssashaudio{
    padding: 30px;
}
#ssfoot{
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    padding: 30px 5%;
    margin: 0;

}
.ssaf{
    width: 100%;
    padding: 70px 30px 20px;
}
.ssicon{
    display: flex;
    justify-content: center;
}
.ssicon a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.ssicon a i{
    font-size: 2em;
    color: #000;
    opacity: 0.9;
}
.ssicon a:hover{
    background-color: black;
    transition: 0.5s;
}
.ssicon a:hover i{
    color: #9b5ec4;
    transition: 0.5s;
    color: white;
}
.ssopt{
    margin: 30px 0;
}
#ssasid{
    display: flex;
    justify-content: center;
}
#ssasid li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
#ssasid li a:hover{
    opacity: 1;
    background-color: #9b5ec4;
    color: #000;
    border-radius: 12px;
    padding: 12px;
}
#ssmouse{
    text-align: center;
    display: inline-block;
    padding: 40px 60px ;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(46, 46, 100);
    border: none;
    border-radius: 14px;
    margin-left: 29%;
    margin-top: 7px;
}
#ssmouse:hover{
    background-color: #9da3f5;
    color: #000;
}
.samybutt{
    text-align: center;
    display: inline-block;
    padding: 40px 54px ;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(46, 46, 100);
    border: none;
    border-radius: 14px;
    margin-left: 69%;
    margin-top: 7px; 
}
.samybutt:hover{
    background-color: #9da3f5;
    color: #000;
}
#samysho{
   border-radius: 9px;
   margin-top: 10px;
   display: none;
   background-color: rgba(203, 195, 248, 0.555);
   width: 25%;
   margin-left: 69%;
}
#samnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(37, 37, 37, 0.925);
    position: sticky;
    top: 0;
    text-align: center;
}
  
#ssli{
    float: left;
  }
  
#ssli a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.ssmore:hover {
    background-color: rgb(97, 37, 37);
    color: white;
    padding: 14px;
}
.sshome{
    background-color: #4CAF50;
}
.samall{
    margin: 0;
    background-image: url('https://wallup.net/wp-content/uploads/2017/11/22/310166-PC_gaming-motherboards-MSI-Random_Access_Memory-computer-technology.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: scroll;
}
#samasamy2{
    margin: 0;
    padding: 0;
    
}
.samimg{
    float: left;
    width: 20%;
    background-color:rgba(196, 192, 192, 0.301);
    border-radius: 12px;
    margin-left: 3%;
    margin-top: 2%;
    padding: 2px;
}
.samimg:hover{
    transform: scale(1.2);
}
.samaborder{
    border: 1px solid rgb(54, 2, 2);
    width: 60%;
    background-color:rgba(196, 192, 192, 0.644);
    margin-left: 35%;
    padding: 26px;
    text-transform: capitalize;
    font-size: 16px;
    border-radius: 12px;
    padding-left: 20px;
    margin-top: 5%;
    color: rgb(54, 2, 2);
    height: 435px;

}
#samp{
    text-align: left;
    margin-left: 30px;
}
#samhh{
    text-align: center;
    text-shadow: 2px 2px 5px rgb(84, 101, 250);
    padding: 32px;
}
#saminf{
    padding: 60px;
    border-collapse: collapse;
    width: 60%;
    margin-left: 120px;
}
#saminf th,#saminf td{
    border-bottom: 1px solid rgb(46, 46, 100);
    text-align: left;
    
}
#saminf tr{
    margin-top: 10px;
}
#saminf td{
    margin-left: 10%;
}
.sambut{
    text-align: center;
    margin-top: 2%;
    display: inline-block;
    padding: 40px 60px ;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color:  rgb(29, 2, 59);
    border: none;
    border-radius: 14px;
    margin-left: 70%;
}
.sambut:hover{
    background-color: rgb(54, 2, 2);
    color: white;
}
.samabutt{
    text-align: center;
    margin-top: -4%;
    display: inline-block;
    padding: 10px 15px ;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: white;
    background-color:  rgb(29, 2, 59);
    border: none;
    border-radius: 14px;
    margin-left: 70%;
}
.samabutt:hover{
    background-color: rgb(54, 2, 2);
    color:white;
}
#samsho{
    background-color:  rgb(54, 2, 2);
    color: white;
    border-radius: 9px;
    margin-top: 10px;
    display: none;
}
.samifram{
    border: 1px solid rgb(54, 2, 2);
    width: 35%;
    background-color: rgba(196, 192, 192, 0.644);
    margin-left: -22%;
    padding: 12px;
    border-radius: 12px;
    margin-top: -22%;
    height: 40%;
    float: left;
}
#samaifram{
    width: max;
    margin-left: 2%;
    margin-top: 2px;
    color: white;
    height: max;
    padding-top: 2px;
}
.samimg2{
    width: 20%;
    background-color:rgba(196, 192, 192, 0.301);
    border-radius: 12px;
    margin-top: 28px;
    padding: 2px;
    float: right;
    margin-right: 28px;
}
.samimg2:hover{
    transform: scale(1.2);
}
.samvideo{
    width: 30%;
    background-color:rgba(196, 192, 192, 0.644);
    border-radius: 12px;
    margin-left: 38%;
    margin-top: 28px;
    padding: 20px;
}
.ssimgvid{
    margin-left: 20%;
}
.samadisc{
    border: 2px solid  rgb(54, 2, 2);
    border-radius: 13px;
    background-color: rgba(196, 192, 192, 0.644);
    color: rgb(54, 2, 2);
    width: 59%;
    margin-top: 2%;
    height: 50%;
    padding: 25px;
    margin-left: 35%;
    padding-left: 30px;
    text-transform: capitalize;
    font-size: 20px;
}
#samah3{
    padding: 7px;
    text-transform: uppercase;
}
#samah1{
    text-align: center;
    text-shadow: 2px 2px 5px blueviolet;
}
#samapar{
    padding: 30px;
}
#samamore {
    display: none;
}
#sammybtn{
    text-align: center;
    margin-top: 2%;
    display: inline-block;
    padding: 20px 30px ;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: white;
    background-color:  rgb(29, 2, 59);
    border: none;
    border-radius: 14px;
    margin-left: 70%;
}
.sammybtn:hover{
    background-color: rgb(54, 2, 2);
    color:white;
}
#sslist{
    font-size: 26px;
}
#samalab{
    border: 1px solid rgb(54, 2, 2);
    padding: 20px;
    color: white;
    margin-left: 12%;
    background-color:  rgb(54, 2, 2);
    width: 30%;
    margin-top: -108px;
    border-radius: 14px;
}
#samatext{
    padding: 15px;
}
.samaformpopup{
    display: none;
    position: fixed;
    left: 27px;
    bottom: 30px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    border-radius: 12px;
}
.samformcont {
    max-width: 300px;
    padding: 10px;
    background-color: rgba(196, 192, 192, 0.959);
    color: rgb(54, 2, 2);
}
#samainput{
    width: max;
    padding: 15px;
    margin: 12px;
    border: none;
    background: #f1f1f1;
}
#samainput:focus {
    background-color: #ddd;
    outline: none;
}
.sasbtn {
    background-color: #04AA6D;
    color: white;
    padding: 40px 60px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:25px;
    opacity: 0.8;
    border-radius: 14px;
    text-align: center;

}
.sambtncancel {
    background-color: rgb(54, 2, 2);
    padding: 40px 60px ;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: white;
    border: none;
    border-radius: 14px;
}
.sasbtn:hover,.samaopenbutt:hover {
    opacity: 1;
}
#samaopenbutt{
    background-color: rgb(29, 2, 59);
    text-align: center;
    margin-top: -500px;
    display: inline-block;
    padding: 40px 60px ;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: white;
    border: none;
    border-radius: 14px;
    margin-left: 3%;
}
#samafooter{
    background-color: rgba(37, 37, 37, 0.925);
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    padding: 30px 5%;
    margin: 0;
}
#samafpro{
    list-style: none;
}
#samah4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 30px;
    color: #4CAF50;
    text-transform: capitalize;
}
#samah4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 40px;
    background-color: #a7a6a6;
}
#samalisama:not(:last-child){
    margin-bottom: 8px;
}
#samaidsama{
    display: block;
    font-size: 24px;
    text-decoration: none;
    transition: 0.4s;
    color: rgb(54, 2, 2);
}
#samaidsama:hover{
    color: white;
    padding-left: 7px;
}
#samasaid{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgb(54, 2, 2);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}
#samasaid:hover{
    color: rgb(54, 2, 2);
    background-color:  white;

}
.samafoot{
    padding: 60px;
    
}
*{padding: 0;
    margin: 0;
    box-sizing:border-box;
  
  
  
  
  }
  #ronav2 ul{
    list-style-type: none;
    background-color:  #a19b9b;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  
  #ronav2 a{
    color: black; 
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
  }
  #ronav2 a:hover{
    background-color:rgb(0, 0, 0);
  }
  #ronav2 li{
    float: left;
  }
  #ronav2 a:hover{color: brown;}
  
  
  
  
  
  
  
  #rowground{
    background-image: url('images/back cpu.jpg');
    width: 100%;
    min-height: 100vh;
    background-color:grey;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: top;
    padding: 1%;
  }
  
  
  
  #rowpp2{
    display: flex;
    column-gap: 100px;
    margin-top: 100px;
  }
 
  #rowd{
    padding-left: 4px;
    background-color:  #a19b9bcc;
  }
  
  #rowlist3{
    padding: 10px;
    background-color: #a19b9b;
  }
    
  #rowlistdt{
    font-weight: bold;
    font-size: larger;
    color: brown;
   background-color: #a19b9b;
    padding: 3px;
  
  }
  #rowlistdd{
    
    border-top: 2px white;
    padding-top: 3px;
    font-size: large;
    color:black; 
    
  }
  
  
  #roh66{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #roh66:hover{
    color:brown;
    padding: 10px;
  }
  
  
  #rowvi{
    width:50%; 
   
   padding-right: 40px;
  }
  #ro7imghov{
    background-color: #a19b9bd8;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow:0px 7px 7px 7px  rgb(0, 0, 0);
    
  }
  #rowi{
    background-color:  rgba(161, 155, 155, 0.925);
    border-radius: 20px;
    margin-bottom: 40px;
  }
  #roimg{
    padding-left: 60px;
  }
  #rrpric2{
    border:2px solid black;
    background-color: gray;
    color: brown;
    font-weight: bold;
    font-size: xx-large;
    margin: 4px;
    padding: 20px;
    width: 360px;
    display: none;
    margin-left:  160px;
    border-radius: 20px;
    border: 4px brown;
  }
  #rrpricc2{
    margin-left: 160px;
    color: rgb(139, 38, 38);
    background-color: rgb(104, 103, 103);
    height: 60px;
    font-size: xx-large;
    border-radius: 20px;
    border: 6px black;
    width: 360px;
  }
  #rrpricc2:hover{
    color: black;
    padding: 3px;
    background-color: brown;
  }
  
  
  
  #rowv{
    background-color:  rgba(161, 155, 155, 0.925);
    padding-left: 45px;
    border-radius: 20px;
    margin-top: 2px;
  }
  
  #rowword-contain{
    margin-top: 100px;
    background-color: #a19b9b;
    border-radius: 20px;
    width:50%;
  }
  #rowword{
    padding: 20px;
    font-size: large;
  }
  #robh{
    margin-left: 210px;
    width: 150px;
    height: 60px;
    font-size: large;
    border-radius: 20px;
    
  }
  
  #rowword2{
    padding: 20px;
    padding-left: 30px;
    
    color: brown;
  
    
    font-size: large;
  }
  #rowword2 ol {
    list-style-type: square;
  }
  #roimglink{
  
      width: 600px;
      height: 300px;
      border-radius: 20px;
      box-shadow:0px 7px 7px 7px  rgb(0, 0, 0);
       margin: 60px;
      margin-left: 800px;
        background-color:  #4f5366;
  }
  
  #roimglinkimg{
    
    margin-top: 50px;
    margin-left: 160px;
    width: 290px;
  
  }
 #roimglinkimg:hover{
    background-color:brown;
  
  }
  #roimgcap{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 100px;
  
  }
  

  #ropreapimg{
    padding-left: 200px;
  }
  


  #rowf{
    background-color: #42465a;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  #rowra{
    width:600px;
    height:300px;
    background-color: #a19b9b;
    padding: 1px;
    margin: 1px auto ;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.1);
    border-radius: 20px;
  }
  #roform{
    width:450px;
    margin :20px;
    text-align: center;
    padding-left: 90px; 
  
  }
  #rof1{
    text-transform: uppercase;
    margin-bottom: 10px;
    color:brown;
  }
  #rof1:hover{
    color: antiquewhite;
  }
  #rofobox{
    width:100%;
    padding: 7px;
    border: none;
    outline: none;
    display: block;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 3px solid brown;
    
  }
  #rbut{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
   
   color: black;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 7px;
   
  }
  #rbut:hover{
    background-color: rgb(131,66,66,0.9);
  }




  /*page2 css;;;;*/

#ronav ul{
  list-style-type: none;
  background-color:rgb(177, 209, 238);
  font-weight: 600;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  border-radius: 10px;
}

#ronav a{
  color: black; 
  text-decoration: none;
  padding: 25px;
  display: block;
  text-align: center;
}
#ronav a:hover{
  background-color:rgb(0, 0, 0);
  color: brown;
}
#ronav li{
  float: left;
}



#rototal{
  width: 100%;
  min-height: 100vh;
  background-color:aliceblue;
  background-image: url('images/cpu back 6.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: top;
  padding: 1%;
}
#roaudio{
  border: 1px solid;
  position: absolute;
  padding: 12px;
  background-color: rgba(203, 195, 248, 0.555);


}
#rohead{
 
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 730px;
  text-align: center;
  width: 300px;
  border-radius: 10px;
  height: 65px;
  box-shadow:0 0 20px rgba(0,0, 0, 15);
  font-family:  sans-serif;
  font-size: 24px;
  font-style: bold;
  color: black ;
 background-color:rgba(177, 208, 238, 0.842);
 

}
#rohead2:hover{
  color: brown;

}
#rocontain{
  display: flex;
  justify-content:  space-evenly;
 
}
#rowidai{
  background-color:rgb(177, 209, 238);
  align-content: center;
  border-radius: 20px;
  border: black;
  box-shadow: 0 0 10px rgba(0,0, 0, 15);
  

}
#roimgw1{
  margin-top: 20px;
  width: 400px;
  height: 400px;
  align-content: center;
}
#roimgw2{
  width: 430px;
  height: 430px;
  align-content: center;

}

#rotransb{
  
  color: black;
  background-color:hsla(210, 65%, 81%, 0.808);
  border-radius: 20px;
  margin: 70px 0;
}
#romargin1{
  padding: 1px;
}
#rodes{
  margin-top: 40px;
  margin-bottom: 30px;
  font-size:x-large;
  text-align: center;
 
  
}



#rowaddcart{
  margin-left: 20px;
  color: rgb(100, 18, 18);
  background-color: rgb(122, 150, 122);
  border-radius: 10px;
  width: 300px;
  height: 80px;
  border: 6px black;
  font-size: xx-large;
  box-shadow: 0 0 20px rgba(0,0, 0, 15);

}
#rowpric{
  border:2px solid black;
  background-color: brown;
  color: bisque;
  font-weight: bold;
  font-size: xx-large;
  margin: 4px;
  padding: 20px;
  width: 300px;
  display: none;
  margin-left:  760px;
  border-radius: 20px;
  border: 4px black;
  
}
#rowpricc{
 margin-left: 680px;
  color: bisque;
  background-color: brown;
  height: 80px;
  font-size: xx-large;
  border-radius: 20px;
  border: 6px black;
  width: 300px;
  box-shadow: 0 0 20px rgba(0,0, 0, 15);
}
#rowpricc:hover{
  color: white;
  padding: 3px;
  background-color: black;
}
#robuy{
  margin-left: 1100px;
  color: rgb(100, 18, 18);
  background-color: rgb(122, 150, 122);
  border-radius: 10px;
  width: 300px;
  height: 80px;
  border: 6px black;
  font-size: xx-large;
  box-shadow: 0 0 20px rgba(0,0, 0, 15);

}





#rowt2{
  width:250px;
  height: 150px;
}

#rot1{background-color:hsla(210, 65%, 81%, 0.808);
  border-radius: 20px;
  margin-bottom: 200px;
  margin-top: 200px;
  height: 850px;
}
#romargin{
  padding-top: 1px;
  padding-left: 30px;
}
#rotab{
  
  margin: 50px;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 400px;
  border-radius: 10px 10px 10px 10px ;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0, 0, 15);
  align-content: center;
}
#rotab th { 
  background-color: rgb(81, 98, 114);
  font-size: xx-large;
  border-top: none;
  color: rgb(13, 50, 99);
}

#rotab td{
  border-top: 1px white solid;
  padding: 12px 15px;
 color: black;
  background-color: rgba(105, 111, 114, 0.85);
  font-size: larger;

}  



#rowt0{background-color:hsla(210, 65%, 81%, 0.808);
  border-radius: 20px;
  height: 850px;
}
#romargin2{
  padding-top: 1px;
  padding-left: 170px;
  
}



#rowtab2{
  
  margin: 100px;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 400px;
  border-radius: 10px 10px 10px 10px ;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0, 0, 15);
  align-content: center;
}
#rowtab2 thead tr th { 
  background-color: rgb(81, 98, 114);
  font-size: xx-large;
  border-top: none;
  color: rgb(13, 50, 99);
}
#rowtab2 th {
  border-top: 1px white solid;
  padding: 12px 15px;
  background-color:rgba(67, 84, 94, 0.74);
  text-align: left;
  font-weight: bold;
  color: black;
  font-size: larger;

}  
#rowtab2 td{
  border-top: 1px white solid;
  padding: 12px 15px;
 color: black;
  background-color: rgba(107, 124, 134, 0.85);
  font-size: large;

}  




#rodes2{
  background-color:hsla(210, 65%, 81%, 0.808);
  border-radius: 20px;
 margin: 70px 0;
}
#rospace{
  padding: 1px;
  margin-left: 15px;
}

#rowhole{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
  
}
#rowhole2{
  display: none;
  
}
#rowdes4{
  border-radius: 30px;
  width: 300px;
  height: 100px;
  font-size: 40px;
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 700px;
  background-color: hsl(212, 8%, 32%);
}


#rosecdes{
  
  text-align: center;
  margin-top: 10px;
  display:flex;
  margin-left: 750px;
  margin-top: 50px;
  width: 220px;
  
}
#rosecdes:hover{
  color: brown;
  padding: 6px;
}


#rogame{
  width: 50%;
  font-size: larger;
  color: black ;
}
#rogameh{
  text-align: center;
  margin: 40px;
  color: black ;
}
#rogameh:hover{
  color: brown;
  
}



#rofooter
{
  background-color: #42465a;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
}
#rofootercontain{
  margin-left:50px;

}
#rofootercontain2{
  display: flex;
  column-gap: 100px;

}
#rofooterp{
  width:50%;
  margin-right:10px;
  
}
#rowords{
  width:50%;
  display:flex;
  column-gap: 200px;
}
#roh6{
  font-size: x-large;
  font-style: bold;
  color: black;
  padding-bottom: 20px;
}
#rofootertext{
  font-size: large;
}
#rofooter a
{
  color:#737373;
  font-size: large;

}
#rofooterlinks a:hover {
color:brown;
text-decoration:none;
background-color: black;
padding: 9px;
border-radius: 10px;
}
#rofoooterlinks
{
padding-left:0;
list-style:none
}
#rofoooterlinks li
{
display:block
}

#rofooterlinks2{
  padding-left: 40px;
}
#rofooterlinks2 a:hover{
  color:brown;
}
#roicon{
  font-size: 40px;
}
div.imagefares{
    margin:60px 460px 0px ;
    border:5px solid black ;
    width:400px ;
    }
    div.imagefares:hover{
    border:5px solid lightslategray ;
    }
    div.imagefares img{
    height: auto;
    width: 100%;
    
    }
    div.klamfares{
    padding: 5px;
    text-align: center;
    background-color: darkgrey;
    }
    div.pfares{
      text-align: center;
      font-size: 30px; 
      margin: 5px; 
      padding: 50px 50px;
      color: aliceblue;
      font-style: italic;
      border:5px solid black ;
      background-color: black;
    }
    div.tablesfares table,th,td{
        border: 4px solid black;
        border-collapse: collapse;
        color: cornsilk;
        margin: 20px 5px 0px;
        font-size: 18px;
        background-color: #333;
    }
    div.tablesfares th,td{
        padding:0px 20px 0px;
    }
    div.imagetablefares{
        width:180px;
        margin: 20px;
        margin-left: 5px;
    }
    div.menufares ul{
     list-style-type: none;
     margin:5px;
     padding: 0px;
     overflow: hidden;
     background-color: black;
     border: 2px solid black;
    }
    div.menufares li{
        float: left;
        font-style:italic;
        font-size: 30px;
    }
    div.menufares li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration:none;
    }
    div.menufares li a:hover{
        background-color: #111;
    }
    div.menufares li a:active{
        background-color:slategray;
    }
    div.videofares{
        margin:20px 0px 0px;
        margin-left: 5px;
        float: left;
    }
    div.audiofares{
        margin:0px 510px;   
    }
    div.iframefares{
        margin: 70px 270px 0px;
    }
    div.buttonfares{
        overflow: auto;
        margin: 50px 30px 0px;
        background-color: black;
        color: white;
        float: left;
    }
    div.formfares{
        overflow: auto;
        margin: 50px 30px 0px;
        background-color: black;
        float: left;
    }
    #sul111
{
    border: 2px solid grey;
    background-color: black;
    margin: 5px;
    overflow: hidden;
    list-style-type: none;
}
#sli111 a
{
    float: left;
    text-align: center;
    display: block;
    padding: 20px;
    color: white;
    font-size: 38px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration-line: none;
}
#sli112 a
{
    float: left;
    text-align: center;
    display: block;
    padding: 20px;
    color:white;
    background-color: red;
    font-size: 38px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration-line: none;
}
#sli112 a:hover
{
    background-color: blue;
}
#sli111 a:hover
{
    background-color: blue;
}
#sh111
{
    border: 2px solid grey;
    background-color: grey;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50PX;
    padding: 50PX;
    text-align: center;
    margin: 5px;
}
#sbody111
{
    
    background-color: grey;

}
#sp111
{
    border: 1px solid red;
    color:wheat;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 38px;
    margin: 20px 5px;
    padding: 0px 5px;
    overflow: auto;
    display: block;
   
}
#simg111
{
    border: 1px solid red;
    margin: 20px 5px;
    overflow: auto;
}
#simg1112
{
    width: 50%;
    padding: 5px;
}
#simg1113
{
    padding: 0px 5px;
    color: wheat;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 38px;
}
#simg1123
{
    text-align: left;
    padding: 0px 5px;
    color: wheat;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}
#stable111
{
    overflow: auto;
    border: 1px double red;
    color: wheat;
    margin: 20px 20px 50px 20px;
    font-size: 35PX;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#stable111:hover
{
    background-color: white;
    color:cadetblue;
}
#sk2a
{
    background-color: black;
    color:wheat;
    border: 1px solid red;
    border-radius: 5px;
    text-decoration: none;
    margin:20px 5px;
    text-align: center;
    float: right;
    padding: 20px;
}
#sk2a:hover
{
    background-color: blue;
    color: black;
    border: 2px solid black;
   
}
#sp112
{
    color:wheat;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 38px;
    margin: 20px 5px;
    padding: 0px 5px;
    overflow:auto;
    height: 630px;
    float: left;
    width: 491px;

}
#stype111
{
    text-align: center;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
}
#shimg111
{
    text-align: center;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
#spimg111
{
    color: wheat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
#sv111
{
    margin: 5px 20px 20px;
    width: auto;
    height: auto;

}
#sbuy111
{
    color:wheat ;
    overflow: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin: 5px;
    width: 20%;
    overflow: auto;
    text-align: center;
}
#sform111
{
    background-color: green;
    color:black;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    margin:20px 5px;
    text-align: center;
    padding: 20px;
    display: block;
}
#sform111:hover
{
    background-color: red;
    color: black;
}
#sb111
{
    color: black;
    background-color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    overflow: auto;
    float: right;
    text-align: center;
}
#sbu111
{
    background-color: black;
    color: brown;
    overflow: auto;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#sbu111:hover
{
    background-color: blue;
}
#sfeed112
{
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 5px;
}
#sfeed112:hover
{
    box-shadow: 20px 20px 20px 20px rgb(63, 61, 61);    

}
#suser
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.skbtn11 {
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(44, 44, 177);
}

.skbtn11:hover {
    background-color: #0056b3;
}
.skshow112 {
    margin-top: 20px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    background: white  ;
}
#ssearch{
    align-items: center;
    margin: 30px;
    overflow: auto;
  }
  
#ssearch input[type=text] {
    padding: 10px;
    border-radius: 5px;
  }
  
#ssearchbu{
    background-color: #f2f2f2;
    border: none;
    padding: 12px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
#ssearch #ssearchbu:hover {
    background-color: #ddd;
  }
  .skcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 75px ;
  }
.skform {
    width: 300px; /* Adjust the width of the form as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .s111 input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
 .s111 input[type="submit"]:hover {
    background-color: #45a049;
  }
  .sk {
    background-color: #4CAF50;
}
#skh111
{
    background-color: rgb(194, 193, 193);
    opacity: 0.7;
}
#sb
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('images/bach.jpg');
}    
.html{
    scroll-behavior: smooth;
}

.body{
  background-color: #2d7636;
  font-family: Arial; /*the typpe of the font*/
}

/* the style of the navigation bar */
.nav{
	overflow: hidden;
	background-color:#18311f ;
}

.nav a {
  float: left;
  color: #12f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover {
  background-color: #ff1748;
  color: black;
}

.nav a.active {
  background-color: #ffdf0d;
  color: black;
}

#H{
  text-transform: capitalize;
  direction: ltr;
}

.dt{
  font-size: 23px;
}

.div{
  background-color: #00ff38;
}

#FUN{
  text-decoration-line: underline;
  text-decoration-color: hsl(178, 75%, 8%);
}

.th, .td{
	font-size: 25px;
  border:4px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.tr:hover{
  background-color: coral;
}

.tr:nth-child(even){
  background-color: #f5f5f5;
}

#TABLE1{
  background-color:#8b8b8b;
  border-style: solid;
  border-color: black;
  padding:5px ;
  border-spacing: none;
  border:4px solid;
  border-collapse: collapse;
}

#CAP{
  font-size: 30px;
}

.label{
  font-size: 18px;
  text-align: justify;
}

#IM1{
  float: right;
  width:180px;
  height:150px;
  margin-left:20px;
}

.para{
  font-size: 18px;
  text-align: justify;
}

#A{
  font-size: 18px;
  text-align: justify;
}
#RIGHT{
  float: right;
  width:600px;
  height:400px;
  border: 0.5px solid black;
}

#LEFT{
  float: left;
  width:680px;
  height:400px;
}

#H1{
  text-align: right;
}

#IM2{
  width:600px;
  height: 260px;
  float: right;
  padding-left: 10px;
}

#UL1{
  font-size: 20px;
}


#IFRAME1{
    height:400px;
    width:100%;
    border: 2px solid black;
    float: left;
    background-color: hsl(60, 100%, 77%);
}
:root {
  --main-bg-color: coral;  
}

#DIV{
  width: 550px;
  border: 10px solid;
  border-color: var(--main-bg-color);
  padding: 20px;
  margin: 10px;
}

.div1{
  font-size: 18px;
  text-align: left;
} 

.form{
  float: left;
  height:200px;
  width:100%;
  background-color: rgb(144, 174, 255);
  border-spacing:1px ;
}
#LEG{
  font-size: 20px;
}

.input{
  width:40% ;
}

.pre{
  font-size: 18px;
}

#VID{
  height: 430px;
  width: 700px;
  float: left;
}

#IM3{
  width:650px;
  height: 430px;
  float:left;
  padding-top: 10px;
}

p.hidden {
  display: none;
}

.static{
  position: static;
  border: 3px solid #73AD21;
  width: 30%;
}

.flow{
  background-color: whitegray;
  width: 300px;
  height: 100px;
  border: 2px solid;
  overflow: auto;
}
ul > li{
  background-size: 50px 40px;
}

#swul111
{
    border: 2px solid grey;
    background-color: grey;
    margin: 10px;
    overflow: hidden;
    list-style-type: none;
    border-radius: 10px;
}
#swli111 a
{
    float: left;
    text-align: center;
    display: block;
    color: white;
    font-size: 20px;
    padding: 15px;
    font-family:monospace;
    text-decoration-line: none;
    border-radius: 15px;
}

#swli111 a:hover
{
    background-color: rgb(30, 146, 146);
}
#swimg1
{
    border: 1px solid rgb(12, 0, 0);
    margin: 20px 5px;
    overflow: auto;
    background-color: rgb(39, 41, 41);
    width: 49%;
    float: left;
    height: 350px;
    margin-top: 60px;
}
#swimg2
{
    padding: 5px;
    float: right;
    width: 50%;
}
#swimgp
{
    margin-left: 15px;
    margin-right: 5px;
    color:rgb(238, 232, 232);
    font-family:monospace;
    text-align: left;
    font-size: 25px;
    overflow: auto;
    width: 40%;
    float: left;
    background-color: rgb(39, 41, 41);

}
#swtable
{
    overflow: auto;
    border: 1px solid black;
    color: black;
    margin: 25px 20px;
    font-size: 30PX;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
    opacity: 0.9;
    border-radius: 7px;
}
#swp
{
    color:rgb(245, 241, 241);
    font-family:monospace;
    background-color: rgb(39, 41, 41);
    text-align: left;
    padding:5px;
    font-size: 25px;
    width: 45%;
    margin: 10px;
    opacity: 1.2;

}
#swv
{
    width: 50%;
    float: right;
    margin: 0%;
    height:317px;
    margin-right: 10px;

}
#swpv
{
    border: 1px solid rgb(26, 45, 63);
    margin: 20px 10px;
    overflow: auto;
    width:45% ;
}
#swbuy111
{
    border: 2px solid black;
    color:rgb(19, 202, 202) ;
    overflow: auto;
    font-size: 30px;
    background-color: rgb(39, 41, 41);
    margin: 45px;
    width: 20%;
    overflow: auto;
    text-align: center;
    font-family:monospace;
}
.swform111 button
{
    background-color: rgb(7, 208, 211);
    color:rgb(241, 240, 240);
    border: 1px solid black;
    text-decoration: none;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    display: block;
    border-radius: 5px;
}

.swform111 button :hover{
    background-color: red(7, 94, 148);
    color: black;
}


.bgwp{
    background-image: url('images/bgmbbb.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


  
  #swprice{
    border:2px solid black;
    background-color: rgb(39, 41, 41);
    color: rgb(0, 255, 213);
    padding: 20px;
    font-weight: medium;
    margin: 4px;
    width: 250px;
    display: none;
    font-size: 45px;
    margin-left:  40px;
    border-radius: 50px;
    border: 4px black;
    
  }
  #swpricetag{
   margin-left: 20px;
    color: azure;
    background-color: rgb(30, 146, 146);
    box-shadow: 0 0 20px rgba(0,0, 0, 15);
    height: 80px;
    font-size: 30px;
    border-radius: 50px;
    border: 6px black;
    width: 200px;
  }
  #swpricetag:hover{
    color: white;
    padding: 3px;
    background-color: black;
  }
  
  
  .swcontent
{
    margin-left: 800px;
    margin-top: 20px ;
    background-color: rgb(175, 173, 173);
    height: 40vh;
    overflow: hidden;
    width: 12%;
    

}
.swsub input[type="submit"] {
    color: white;
    padding: 10px 20px;
    background-color: rgb(0, 255, 213);
    margin-left: 65px;
  }
 .swsub input[type="submit"]:hover {
    background-color: red;
 }
 #sw158
{
    color: rgb(255, 255, 255);
    background-color: rgb(119, 119, 119);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    overflow: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#bgwp {
  
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  #swlinker
{
    border: 2px solid black;
    color:rgb(19, 202, 202) ;
    overflow: auto;
    margin: 45px;
    width: 20%;
    overflow: auto;
    text-align: center;
    font-family:monospace;
    font-size: 30px;
    background-color: rgb(39, 41, 41);
    
}

.swcomma{

    border :3px solid black;
    background-color: rgb(39, 41, 41);
    float: right;
    margin-right: 25px;
    font-size: 30px;
    overflow: auto;
 }

.swsender{

    margin: auto;
    border: 5px;
    color: rgb(30, 146, 146);
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

#swv2
{
    width: 50%;
    float: right;
    margin: 0%;
    height:317px;
    margin-right: 10px;
width: auto;
}

.swbton{
display: block;
    width: 100%;
    padding: 10px;
    color: #fbfbfb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(19, 202, 202);

}
.swbton:hover{
    background-color: rgb(26, 45, 63);
}
.swform111 button:hover{
    background-color: rgb(26, 45, 63);
}
#swtable2
{
    overflow: auto;
    border: 0px solid black;
    color: black;
    margin: 25px 20px;
    font-size: 30PX;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
    opacity: 0.9;
    border-radius: 7px;
   
}
#s4090
{
    float: left;
    border: 5px solid red;
    border-radius:20px ;
    margin: 50px 5px;
    overflow: auto;
    display: flex;
}

#s4090h
{
    text-align: center;
    font-size: 30px;
    
}
#sdet
{
    border: 5px solid red;
    margin:50px 5px;
    overflow: auto;
    background-color: white;
    opacity: 0.7;
    border-radius: 20px;
    float: right;
    width: 47%;
}
#li40
{
     margin:  20px;
    font-size: 18px;;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#ul40
{   
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


  
